.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay .overlay-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 340px;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 5px;
}
.overlay .overlay-content nav {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: none;
  margin-bottom: 10px;
  border: none;
}
.overlay .overlay-content nav button {
  width: inherit;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(127, 163, 255);
  border: none;
  padding: 3px;
  font-size: 1.5rem;
  color: aliceblue;
  border-right: 2px solid black;
}
.overlay .overlay-content nav button:last-child {
  border: none;
  border-radius: 0 5px 5px 0px;
}
.overlay .overlay-content nav button:first-child {
  border-radius: 5px 0 0 5px;
}
.overlay .overlay-content nav button:hover {
  background-color: rgb(32, 67, 156);
}
.overlay .overlay-content .login-cls {
  border: 3px dashed rgb(127, 163, 255);
  display: flex;
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  color: rgb(127, 163, 255);
  gap: 5px;
  width: 100%;
  height: 100%;
}
.overlay .overlay-content .login-cls input {
  border-radius: 5px;
  color: gray;
  width: 100%;
  height: auto;
  border: 2px solid rgb(127, 163, 255);
}
.overlay .overlay-content .login-cls button {
  width: 100%;
  border: none;
  font-family: inherit;
  background-color: rgb(127, 163, 255);
  border-radius: 5px;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bolder;
}
.overlay .overlay-content .login-cls button:hover {
  background-color: rgb(32, 67, 156);
}
.overlay .overlay-content .reg-cls {
  border: 3px dashed rgb(127, 163, 255);
  display: none;
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  color: rgb(127, 163, 255);
  gap: 5px;
  width: 100%;
  height: 100%;
}
.overlay .overlay-content .reg-cls input {
  border-radius: 5px;
  color: gray;
  width: 100%;
  height: auto;
  border: 2px solid rgb(127, 163, 255);
}
.overlay .overlay-content .reg-cls button {
  width: 100%;
  border: none;
  font-family: inherit;
  background-color: rgb(127, 163, 255);
  border-radius: 5px;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bolder;
}
.overlay .overlay-content .reg-cls button:hover {
  background-color: rgb(32, 67, 156);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

header {
  position: absolute;
  width: inherit;
  height: 100px;
  pointer-events: none;
}
header h1 {
  font-size: 3rem;
  text-align: center;
  width: inherit;
  height: 70px;
  color: aliceblue;
  background-color: rgb(127, 163, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header p {
  background-color: aliceblue;
  font-size: 1.5rem;
  text-align: center;
  width: inherit;
  height: 30px;
  color: rgb(127, 163, 255);
  border-block: 1px solid black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  position: relative;
  width: inherit;
  height: 30px;
  top: 100px;
  background-color: aliceblue;
  border-bottom: 1px solid black;
}
nav ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: grid;
  grid-area: 1/8/1/1;
}
nav ul li {
  width: auto;
  height: auto;
  background-color: rgb(127, 163, 255);
  border-left: 1px solid;
  text-align: center;
}
nav ul li a {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(32, 67, 156);
}
nav ul .log-btn {
  grid-column-start: 8;
  grid-column-end: 9;
}

main {
  width: inherit;
  height: -moz-max-content;
  height: max-content;
  padding-top: 140px;
}
main .title {
  width: inherit;
  height: -moz-max-content;
  height: max-content;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(127, 163, 255);
}
main .hrs {
  border: none;
  background: rgb(127, 163, 255);
  height: 5px;
}
main .event-box {
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  color: rgb(127, 163, 255);
  transition: all 0.1s ease;
}
main .event-box h2 {
  font-size: 1.5em;
  margin: 0;
  color: inherit;
}
main .event-box p {
  color: #666;
  margin: 5px 0;
}
main .event-box:hover {
  background-color: rgb(32, 67, 156);
  color: whitesmoke;
}
main .event-box:hover p {
  color: aliceblue;
}

footer {
  width: 100vw;
  height: 30px;
  color: aliceblue;
  background-color: rgb(127, 163, 255);
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0vh;
  margin-top: auto;
}

header {
  pointer-events: none;
  border-bottom: 2px solid black;
  height: 72px;
}
header h1 {
  height: 70px;
}

nav {
  top: 72px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-box {
  min-width: 600px;
}
main .main-box .ev-submit {
  width: 600px;
  background-color: rgb(127, 163, 255);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: larger;
  margin-bottom: 50px;
}
main .main-box .ev-submit:hover {
  background-color: rgb(98, 125, 194);
}
main .head-box {
  border: 2px solid rgb(127, 163, 255);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: block;
}
main .head-box .ev-name {
  color: rgb(127, 163, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
}
main .head-box .ev {
  color: rgb(127, 163, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
main .head-box div {
  color: rgb(15, 71, 214);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .head-box #ev-name-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: gray;
}
main .body-box {
  border: 2px solid rgb(127, 163, 255);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
main .body-box h2 {
  color: rgb(127, 163, 255);
}
main .body-box textarea {
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
main .body-box #preview {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}/*# sourceMappingURL=admin-portal.css.map */